useDynLib(metaboCombineR, .registration=TRUE)
import(methods, Rcpp, RInside)
export("runMetaboCombiner")
export("getRTs")
export("getMZs")
export("sortDataFrameByRt")
export("sortDataFrameByMz")
export("correctClassiqAling")
export("correctClassiqAling2")
